[2016-04-28 14:04] conda-forge-admin opened #4 "MNT: The cmake recipe has some lint :("
This is the friendly conda-forge-admin automated user.

I've ran the conda-smithy linter and found some lint in this feedstock :cry:.

Here is what I have got:

  * Selectors are suggested to take a ``<two spaces>#<one space>[<expression>]`` form.
  * When defining a source/url please add a sha256, sha1 or md5 checksum (sha256 preferably).

Thanks!

[2016-04-28 18:29] #4 closed

[2016-06-17 23:41] jakirkham opened #7 "CMake needs OpenSSL"
We need to start build CMake with OpenSSL. This problem was encountered when @patricksnape was trying to build OpenCV 3.x. See his [comment]( https://github.com/conda-forge/opencv-feedstock/pull/16/files#r65872619 ) in the diff, which has been quoted below.

[2016-06-20 04:27] jakirkham opened #9 "Build Windows from source?"
Seems we are just copying binaries over for our Windows package. Would be really awesome if we built this from source. Hopefully, that would make it easier to extend the functionality in this package as well by adding needed dependencies.

[2016-06-28 23:02] jakirkham commented on #7
Just to clarify, @patricksnape this was just a UNIX issue or was this affecting Windows too?

[2016-07-07 08:05] patricksnape commented on #7
I was only seeing it on Linux.

[2016-07-16 17:14] #7 closed

[2016-08-16 12:57] xantares commented on #9
From https://cmake.org/install/:
"In order to build CMake from a source tree on Windows, you must first install the latest binary version of CMake because it is used for building the source tree."
:)

[2016-08-31 01:32] willyd opened #12 "cmake-gui does not work on windows"
When I try to start the cmake-gui installed with the cmake package I get the following error:
![error](https://cloud.githubusercontent.com/assets/628693/18112859/1e68daf8-6ef9-11e6-9431-2fa5cfcd92cd.png)
Installing package qt does not fix the problem.

Any ideas what could be done to fix this?

[2016-09-04 00:58] willyd commented on #12
It seems this is not related to conda after all. Will raise the issue upstream.

[2016-09-04 03:21] jakirkham commented on #12
Yeah we are just repackaging their binary for now on Windows. Though we would like to build from source. If you have time and interest, we would more than appreciate the help.

[2016-09-05 11:33] blowekamp commented on #12
Can a recipe uses an older version of its own package? As I recall to bootstrap cmake you need cmake.

https://cmake.org/install/
https://cmake.org/pipermail/cmake/2009-December/033819.html

[2016-09-12 13:29] willyd commented on #12
I just submitted a PR to fix this issue. Turns out conda is really the cause of this problem.

[2016-09-12 13:31] willyd commented on #12
@jakirkham Building from source would be optimal since the Qt dlls provided by this package will conflict with Qt dlls provided by other packages (PyQt. etc). I don't have time to look into this right now, but I may at some point.

[2016-09-12 14:59] jakirkham commented on #12
Yeah, I'm not too stressed about getting the GUI part to work. Mostly people are using this to build other recipes where a GUI is irrelevant. In fact, that makes for a bulky dependency for CMake. Would prefer to not have the default `cmake` pull that in. Either it should be a different package or as an optional dependency ( https://github.com/conda/conda/issues/3299 ) once we have a way to do that

[2016-09-21 11:30] 183amir opened #14 "error while loading shared libraries: libarchive.so.13: cannot open shared object file: No such file or directory"
[code]

full log: https://circleci.com/gh/conda-forge/bob.extension-feedstock/34?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2016-09-23 09:39] 183amir commented on #14
`cmake` is broken. I restarted one of my previously green builds and now it gives the same error:

Was green before: https://circleci.com/gh/conda-forge/bob.extension-feedstock/33

It is red now: https://circleci.com/gh/conda-forge/bob.extension-feedstock/36

[2016-09-26 12:15] anjos commented on #14
This stopped working between versions 3.5.0-3 and 3.5.0-4.

https://github.com/conda-forge/cmake-feedstock/compare/089283d...b522876

Unfortunately, I can't know precisely to which tags builds 3 and 4 correspond, so these are my best guesses (green build, before switching to a higher number).

There are lots of changes here, but I think the most interesting is probably this:

https://github.com/co

[2016-09-26 12:54] 183amir commented on #14
@conda-forge/core could you look into this please? We can provide more info if you want.

[2016-09-26 13:41] patricksnape commented on #14
Interesting. I've been using CMake for a lot of builds and haven't come across this. I wonder if this is a particular part of cmake being invoked?

[2016-09-26 14:13] jakirkham commented on #14
Same. Also `libarchive` has basically been untouched version-wise since it was released on conda-forge back in June.

[2016-09-26 14:30] anjos commented on #14
I think the issue with `libarchive` is circumstantial. It happens to be the first library loaded.

In our recipe, simply calling `cmake` makes it crash, so no special feature is being used.

See here, towards the end: https://circleci.com/gh/conda-forge/bob.extension-feedstock/41

[2016-09-26 23:43] jakirkham commented on #14
Ok, so then I'm not sure why a build number bump would fix it. ( https://github.com/conda-forge/cmake-feedstock/pull/15 ) That fix would make sense if there was some versioning issue in the dependencies, but it sounds like that is not the case.

In any event, we just started to deploy packages for CMake 3.6.2. ( https://github.com/conda-forge/cmake-feedstock/pull/16 ) Hopefully that fixes some iss

[2016-09-27 06:23] 183amir commented on #14
Updating to `3.6.2` did not help: https://circleci.com/gh/conda-forge/bob.extension-feedstock/42

As you can see, we just run `cmake` with no arguments as the first test command and it fails:
[code]
https://github.com/conda-forge/bob.extension-feedstock/pull/11/files#diff-e178b687b10a71a3348107ae3154e44cR50

[2016-09-27 12:02] 183amir commented on #14
When I re-rendered the `bob.extension` feedstock the error went away!!!

Why? I have no idea: https://github.com/conda-forge/bob.extension-feedstock/pull/11/commits/b6a087f589dc6ce81e898f13fd5b1ef0be52cd0f

[2016-09-27 12:20] #14 closed

[2016-09-27 12:47] jakirkham commented on #14
Was just about to say it seems like a red herring and re-rendering may fix it. My suspicion is there is a `conda-build` version `2.0.x` issue involved. Try playing around with it locally and see if you can narrow it down.

[2016-09-30 02:14] jakirkham commented on #14
FYI this is probably a good reason as to why we can't just enable `conda-build` universally. Namely `cmake` will stop working.

Here is another [example]( https://circleci.com/gh/conda-forge/vigra-feedstock/37 ) of this failure.

cc @conda-forge/core

[2016-09-30 02:15] jakirkham commented on #14
FYI this is probably a good reason as to why we can't just enable `conda-build` version `2.x` universally. Namely `cmake` will stop working until we have had a chance to rebuild `ncurses`.

Here is another [example]( https://circleci.com/gh/conda-forge/vigra-feedstock/37 ) of this failure.

cc @conda-forge/core

[2016-09-30 02:23] jakirkham commented on #14
Saw a note about `ncurses` in a recent log. This is definitely a package that needs to be rebuilt for `conda-build` version `2.0.x`'s long prefixes to be used. Not sure if this is causing the problem or if it is a red herring. Will try to look closer. Please this issue ( https://github.com/conda-forge/conda-forge.github.io/issues/171 ) for the long prefix rebuild saga.

[2016-10-04 04:49] kyleabeauchamp opened #20 "ccmake broken"
When I try to run `ccmake ../path` I end up with the following error:

[code]

I wonder if #13 will fix this, not sure.

[2016-10-08 06:20] pelson opened #21 "error loading shared object with conda-build 2"
I have been able to reproduce the problem identified in https://github.com/conda-forge/cmake-feedstock/issues/14, and can confirm that simply changing from conda-build 2 to conda-build 1 fixes the problem.

Some pertinent output:

[code]

I will use this issue as a place to document findings...

[2016-10-08 06:25] pelson commented on #21
Disabling symbolic linking, and forcing copy (within the docker linux-anvil build image) fixed this for conda-build 2...

[2016-10-08 06:28] pelson commented on #21
Logs:

with sym-links:

[code]

with copy:

[code]

[2016-10-08 09:29] pelson commented on #21
Within my docker container (condaforge/linux-anvil) I am able to reproduce the linking problem with conda-build 2 **iff** the conda-build root is ``/feedstock_root/build_artefacts``. If I set it to ``/foo`` I don't see the problem. Perhaps a similar issue to https://github.com/conda/conda-build/issues/1337, except in this case, I am not getting an error - it is attempting the build, but subsequent

[2016-10-14 05:03] shadowwalkersb commented on #21
Does `which cmake` produce no output? How about `which -a cmake`?

[2016-10-14 05:16] shadowwalkersb commented on #21
Also, `RPATH` for `libarchive.so.13` may be useful. I can't remember the command from top of my mind ATM.

[2016-10-14 15:13] jakirkham commented on #21
Do you mean something like this `objdump -x <ELF> | grep RPATH`?

[2016-10-14 15:17] jakirkham commented on #21
FYI @mariusvniekerk offered to lend a hand trying to rebuild `cmake` with `conda-build` 2. TBH if that just fixes it, I'm not sure it is worth putting too much effort into trying to understand the cause of the problem. After all, we are already half way through the month so we need to start switching to a new Travis CI image at this point. ( https://github.com/conda-forge/conda-forge.github.io/iss

[2016-10-16 17:17] shadowwalkersb commented on #21
Any updates here?

[2016-10-16 18:14] mariusvniekerk commented on #21
So i'm having build issues trying to get libarchive working with conda-build 2.  Seems to not be able to find the lzma stuff despite xz building and testing fine.

[2016-10-16 19:27] jakirkham commented on #21
Do you have a log and other info you can share?

[2016-10-16 20:37] mariusvniekerk commented on #21
So I'm getting failures building deps for cmake.

## perl with conda-build 2.

[code]

This seems to be related to something that conda build is doing with $PATH manipulation?

## m4 with conda-build 2

[code]

This seems to be related to http://trac.clfs.org/ticket/1078

[2016-10-18 07:47] shadowwalkersb commented on #21
I looked at a couple of libraries on `conda-forge` that cmake depends on. It looks like they have only `$ORIGIN/.` as RPATH. Then, `cmake` can't find them. According to `ltrace` output [here](https://circleci.com/gh/GorgonCryoEM/gorgon-feedstock/133), where I was trying to debug this same issue after I hit in my feedstock, then system paths are searched and `libz` and others are found there. `liba

[2016-10-18 18:03] shadowwalkersb commented on #21
Here is a summary of some relevant commits from my feedstock. Doesn't seem to be interesting, but here it goes anyways. Hope it helps.

1. **Working** CircleCI commit (Re-rendered with conda-smithy 1.3.3 ): https://circleci.com/gh/GorgonCryoEM/gorgon-feedstock/150

2. **Broken**, manually switched to conda-forge-build-setup=3.4.0 (unpinned conda-build ?): https://circleci.com/gh/GorgonCryoEM/gorgo

[2016-10-19 17:48] shadowwalkersb commented on #21
Why is this thread gone silent? Are there other blockers or issues more pressing than this that delay it? Upgrading to conda-build 2 feels important, if I am not missing something.

[2016-10-19 17:55] msarahan commented on #21
Something that may be relevant is this change: https://github.com/conda/conda-build/pull/1336/files

I'm not sure if that change makes binaries built with v1 incompatible with those built by v2.  Do we have a complete v2-built foundation here?

[2016-10-19 18:07] shadowwalkersb commented on #21
I can't see `$ORIGIN/../lib` added before or after that commit. So, that shouldn't introduce a behavior change in terms of `$ORIGIN/../lib`. But, it is in tests, [here](https://github.com/conda/conda-build/pull/1336/files#diff-8cf246f79b9054639a61944ab4f8e52dR6). 😕

[2016-10-19 18:13] msarahan commented on #21
Sorry, I can't say I really understand what's going on in that test.  @mingwandroid can you please chime in here?

[2016-10-25 15:00] shadowwalkersb commented on #21
Are we interested in why v1 works , but v2 breaks? Or, do we want to fix whatever is incompatible or broken that causes the problems with v2?

[2016-10-25 15:19] shadowwalkersb commented on #21
Well, given how pressing this issue, the inactivity of this thread drives me nuts. Maybe, overstepping, but since I haven't got any feedback on my previous `RPATH` posts, I'm gonna say it outright. Some, if not all, compiled (?) libraries like libarchive on conda-forge have missing RPATHs. Why is it not a problem with v1, but problem with v2? Why does it work when copied, but not when soft-linked?

[2016-10-25 15:20] scopatz commented on #21
Is there a PR that fixes things?

[2016-10-25 15:23] mingwandroid commented on #21
@shadowwalkersb : From your comment https://github.com/conda-forge/cmake-feedstock/issues/21#issuecomment-254432338

Without a doubt, these libraries need to be rebuilt.

Soft-linking is inherently incompatible with $ORIGIN-relative RPATHs, and IMHO for this reason soft-linking should be removed altogether from conda:
https://github.com/conda/conda/issues/864
https://github.com/conda/conda/issues/

[2016-10-25 15:24] shadowwalkersb commented on #21
Not on conda-forge. I didn't want to put much effort before getting some feedback here. But, it worked on my CI, see https://github.com/conda-forge/cmake-feedstock/issues/21#issuecomment-254432338 and https://github.com/conda-forge/cmake-feedstock/issues/21#issuecomment-254589591.

[2016-10-25 15:27] scopatz commented on #21
@shadowwalkersb, if you open a PR, I think we'll have something to go from.

[2016-10-25 15:31] shadowwalkersb commented on #21
The solution I would propose would be adding this to the recipes.

`export LD_LIBRARY_PATH=${PREFIX}/lib:$LD_LIBRARY_PATH`

Which recipe would you suggest to open a PR? Or, maybe patch `conda-forge-build-setup-feedstock` temporarily? Here is where I am not sure how to proceed.

[2016-10-25 15:33] shadowwalkersb commented on #21
Or, PR on cmake-feedstock and then try the fix on previously failing feedstocks?

[2016-10-25 15:34] mingwandroid commented on #21
This is a workaround. Please read my comment: https://github.com/conda-forge/cmake-feedstock/issues/21#issuecomment-256067803

[2016-10-25 15:34] jakirkham commented on #21
If you have time, I would add PRs to `cmake`'s dependencies to fix this and maybe add some simple test to demonstrate they are fixed. ATM I don't have time to do this.

[2016-10-25 15:35] scopatz commented on #21
I think conda-build explicitly avoids doing precisely that.  If you happen to need it because the package cannot be statically linked, that is fine.  But in general, I thought we avoided this.

[2016-10-25 15:37] jakirkham commented on #21
By it, you are referring to setting `LD_LIBRARY_PATH`, @scopatz ? If so agreed, the Mac version of this is basically not allowed thanks to SIP. 😒

[2016-10-25 15:37] shadowwalkersb commented on #21
I am aware it is a workaround. And, I am not going to get into how it should be handled in general. But, for now if it helps us move to conda-build 2, we can discuss if it is a good practice later, I think.

[2016-10-25 15:39] mingwandroid commented on #21
In my opinion, using symlinks caused the broken $ORIGIN-relative paths in the first place. @jakirkham can you switch to copying or hard-linking only then rebuild the deps then rebuild cmake?

I believe that would fix everything.

[2016-10-25 15:40] jakirkham commented on #21
As stated before, I don't have time to fix this. Someone else who has time should take this on.

[2016-10-25 15:46] shadowwalkersb commented on #21
Where exactly do we do that? I mean, switiching to copying.

[2016-10-25 15:50] mingwandroid commented on #21
I don't know enough about the `conda-forge` setup to say exactly, but from `conda`'s perspective it's `allow_softlinks`:

http://conda.pydata.org/docs/config.html#advanced-configuration

[2016-10-25 16:01] jakirkham commented on #21
So was debating disabling [`allow_softlinks`]( http://conda.pydata.org/docs/config.html#disallow-soft-linking-allow-softlinks ) globally, but I expect that is a big can of worms.

We don't really have a way to disable that on a per feedstock basis ATM (aside from hacking the CI files). Something like PR ( https://github.com/conda-forge/conda-smithy/pull/285 ) would give us that ability, but there

[2016-10-25 16:15] shadowwalkersb commented on #21
So, do you suggest going the RPATH fixing route for now, @jakirkham ?

[2016-10-25 16:23] jakirkham commented on #21
What if we set `LDFLAGS="-Wl,-rpath,${PREFIX}/libs/"` for the builds of `cmake` and its linked dependencies? Would this work as a fix @mingwandroid ?

[2016-10-25 16:40] mingwandroid commented on #21
`-Wl,-rpath,\$ORIGIN/../lib` might work, but let me get back to you when I've done some more research.

[2016-10-28 17:37] shadowwalkersb commented on #21
@mingwandroid , if you don't mind, what are your concerns here?

[2016-10-28 17:56] mingwandroid commented on #21
I don't think there's any can of worms disabling symlinks for conda installs. My concerns are given in my previous comment that links to the two issues that describe in some detail,  why symlinks are not compatible with conda rpath handling on Linux.

[2016-10-28 18:20] shadowwalkersb commented on #21
I'm sure all those discussions that have been going on for a couple months need to be resolved, but I don't think we should wait for them for a few more conda and conda-build releases to solve the problem here. ATM we can't upgrade to conda-build v2. I'm sure not upgrading causes a lot of problems. And the major blocker seems to be cmake issues which are discussed here. As hacky they could be, can

[2016-11-03 17:33] jakirkham commented on #21
Have you had time to look into this issue more, @mingwandroid ?

[2016-11-11 03:17] jjhelmus commented on #21
Is this still a problem?  I tried to replicate the original issue, building `bob.extensions` 2.3.4-py35 with `conda` 4.2.12 and `conda-build` 2.0.8 in the linux-anvil docker container and did not have any problems.  Perhaps I am misunderstandings the original issue.

[2016-11-11 05:36] jakirkham commented on #21
Are you sure it was building with `conda-build` version `2.0.8`? 😕

Just opened this PR ( https://github.com/conda-forge/blosc-feedstock/pull/7 ), which demonstrates this exact problem. Feel free to build off of it if you wish to experiment.

[2016-11-11 15:17] jjhelmus commented on #21
Thanks for the example @jakirkham. I wonder if the different was the conda version used, I was using 4.2.12, the blosc example uses 4.1.12.  I'll look into this further tonight and try to debug what the issue is.

[2016-11-11 15:52] jjhelmus commented on #21
I created a PR (conda-forge/blosc-feedstock#8) to test using the latest versions of conda-build: `2.0.8`, conda: `4.2.12`, and conda-env: `2.6.0`.  This successfully built and tested the blosc package, so perhaps the issue is not cmake and conda-build `2.0.x` but rather conda-build `2.0.x` and conda `4.1.x`?

Perhaps @msarahan would know what changed between conda `4.1.x` and `4.2.x` which could e

[2016-11-11 16:11] msarahan commented on #21
Sorry, I don't know what about conda's behavior in this area changed between 4.1.x and 4.2.x.  My guess is that the warnings aren't showing up because conda 4.2.x is inappropriately hijacking the logger output.  That is a known issue.

As for why it works anyway, I'm at a loss.  When conda-build is unable to install some package into a long-prefix build environment (due to the package having short

[2016-11-11 17:57] jjhelmus commented on #21
Thanks for the information @msarahan, I think I have a better understanding on what is going on here, namely that an 80-character build prefix package is being created.

I believe the root of the issue is that three of the build requirements for blosc are 80-character prefix packages in the `conda-forge` channel, ncurses, openssl, and curl).  Replacing these with long prefix package, copied from t

[2016-11-11 18:04] jakirkham commented on #21
That was supposed to be fixed ( https://github.com/conda/conda/issues/3744 ). 😕 Are you sure you are using `4.2.12` and not `4.2.11`?

[2016-11-11 18:59] jakirkham commented on #21
So if upgrading `conda` alone solves this problem, there is PR ( https://github.com/conda-forge/conda-feedstock/pull/13 ) to do exactly that.

[2016-11-11 19:09] jjhelmus commented on #21
Still seeing the buggy behavior in `4.2.12`.  Has a conda release been made after that fix?

[2016-11-11 19:10] jjhelmus commented on #21
[Yup](https://github.com/conda/conda/releases/tag/4.2.12) although it does not seem as if the patch fixed the actual issue.

[2016-11-29 18:29] jakirkham commented on #21
Thanks for helping get issue ( https://github.com/conda/conda/issues/3744 ) actually fixed.

[2016-11-30 17:37] jjhelmus opened #23 "cmake -E tar command broken for certain zip files"
Using the linux `conda-forge` cmake package (3.6.2_0), certain zip files fail to unzip using the `cmake -E tar xvf` command.  The command works using the cmake package from the `defaults` channel (3.6.3_0).

I don't think this was a bugfix in the 3.6.3 release as the 3.3.1 release from the `defaults` channel also works as expected.

Example in the linux-anvil docker container.

[code]

The content

[2016-11-30 17:47] jjhelmus commented on #23
I noticed that the `defaults` cmake package does not link against `libarchive` where as the `conda-forge` version is including this library.  I would assume is providing the unzip functionality.  The [anaconda-recipes build script](https://github.com/ContinuumIO/anaconda-recipes/blob/master/cmake/build.sh) explicitly include a `--no-system-libarchive` switch.

[2016-12-01 14:34] frol opened #24 "CMake 3.7.1 is released"
https://cmake.org/download/

P.S. I just wanted to let you know.

[2016-12-01 15:08] jakirkham commented on #24
Please feel free to submit a PR.

[2016-12-15 19:21] #24 closed

[2017-04-29 20:23] pelson opened #32 "cmake on OSX: "Could not find CMAKE_ROOT""
[code]

[2017-04-29 22:15] jakirkham commented on #32
Does this happen for older versions of `cmake` as well?

[2017-04-29 23:34] pelson commented on #32
Oh man, just tried this again and can't reproduce the issue. I suspect I'd muddled with a path somewhere (or have since tidied up potentially conflicting homebrew packages). Closing for now.

[2017-04-29 23:34] #32 closed

[2017-04-30 06:28] jakirkham commented on #32
Ok, that's a relief. 😅 If you do see it again though, please let us know.

[2017-06-24 17:56] #23 closed

[2017-06-24 18:33] jakirkham commented on #23
Could it be an issue with `libarchive` then?

[2017-07-09 19:37] shadowwalkersb commented on #20
On Mac, cmake versions 3.7 and 3.8.

[code]

[2017-07-27 22:04] shadowwalkersb commented on #20
My error is not the same as in OP, but still fits the title. Should this be a separate issue?

[2017-07-27 22:13] shadowwalkersb opened #35 "ccmake broken on Mac"
On Mac, cmake versions 3.7 and 3.8.

[code]

[2017-07-27 22:47] shadowwalkersb opened #36 "cmake 3.8 incompatible with bzip2 from defaults channel on CentOS 6"
I ran into a problem running cmake v3.8 from conda-forge on CentOS6.
[code]

Details
---
When I install cmake along with other dependencies listing defaults channel before conda-forge, bzip2 from defaults gets pulled in. Probably, because its version is 1.0.6-3 and cmake from conda-forge is 1.0.6-1. cmake v3.7 works, but v3.8 fails with the error above. This happens on CentOS6, but cmake v3.8 work

[2017-07-27 22:49] scopatz commented on #36
Pull requests welcome!

[2017-07-27 22:50] shadowwalkersb commented on #36
Only if I knew what to fix...

[2017-07-29 04:39] jakirkham commented on #36
Sorry you are having trouble. Mixing in matching as appears to be done in this case is known to cause problems. Unfortunately this fits generally under the "`conda-forge` must be higher priority than `defaults`" category. As such, the simple answer is this is not supported. Either install `bzip2`, `cmake`, and everything else from `conda-forge` (unless it is unavailable then use `defaults`) or jus

[2017-07-29 06:34] #36 closed

[2017-07-29 14:54] wesm opened #38 "Broken Windows builds with CMake 3.9.0"
In diagnosing broken builds that started showing up in the last 24 hours I seem to have tracked it down to the CMake update to 3.9.0:

https://ci.appveyor.com/project/ApacheSoftwareFoundation/arrow/build/1.0.2593/job/q484cyl1one8gn2l

here's the appveyor support case http://help.appveyor.com/discussions/problems/7188-odd-cmake-build-failures-unrelated-to-code-changes

[2017-07-29 15:35] wesm commented on #38
Confirming that pinning cmake 3.8.0 fixed the builds

[2017-07-29 18:04] scopatz commented on #38
Pull requests welcome!

[2017-07-29 18:07] wesm commented on #38
I think @MaxRis is looking into this. It could be an upstream bug in CMake in which case we might want to pull the 3.9.0 release from conda-forge

[2017-07-29 18:09] scopatz commented on #38
@wesm - OK.  I am relying on 3.9 for some of my stuff.  So pinning code that needs 3.8 seems like the better option.

[2017-07-29 18:10] scopatz commented on #38
Though, admittedly, I am not relying on the windows build, so pulling that would be OK by me.

[2017-07-31 14:26] jschueller commented on #36
I guess it's because bzip2 from defaults does not provide shared libs!

[2017-07-31 15:42] jschueller commented on #38
seems they changed stuff related to the detection of msbuild:
https://cmake.org/cmake/help/v3.9/release/3.0.html
my feedstocks seem to run fine though

[2017-07-31 15:52] MaxRis commented on #38
Have created [issue](https://gitlab.kitware.com/cmake/cmake/issues/17118) for this

[2017-07-31 17:26] shadowwalkersb commented on #36
But, cmake 3.7 works fine. Has something in 3.8 changed?

[2017-07-31 18:32] scopatz commented on #36
Why is it using bzip2 from defaults and not conda-forge?

[2017-07-31 19:01] jschueller commented on #36
cmake 3.7 works because it was built against a static bzip2

[2017-07-31 19:28] shadowwalkersb commented on #36
Thanks, @jschueller ! I tried to track that down in the feedstock, but couldn't find any clues. Was it set in the recipe to link against static bzip2 or CMake's own setup?

[2017-07-31 20:05] jschueller commented on #36
bzip2 did not provides shared libs at the time

[2017-08-04 16:34] shadowwalkersb commented on #35
Why was this closed? I get complaints from users saying this is broken.

[2017-08-04 20:35] jakirkham commented on #35
Probably an accident. I think I was meaning to close issue ( https://github.com/conda-forge/cmake-feedstock/issues/36 ) and must have gotten this one by mistake. Sorry about that.

[2017-08-05 03:59] isuruf commented on #35
Are you using `ncurses` from `conda-forge` channel?

[2017-08-05 04:04] shadowwalkersb commented on #35
I just found out that ncurses was coming from defaults. So, the problem here is the same as in #36 . So, this issue can be closed.

[2017-08-05 04:10] #35 closed

[2017-08-11 12:46] jschueller commented on #38
not yet uploaded

[2017-08-13 14:07] #38 closed

[2017-08-14 10:45] jschueller commented on #12
only cli is provided

[2017-08-14 10:45] #12 closed

[2017-09-10 11:06] rth commented on #32
Also just run into this, but deactivating and re-activating the virtual environment seems sufficient to fix it...

[2018-01-05 16:44] jschueller commented on #21
seems fixed, closing

[2018-01-05 16:44] #21 closed

[2018-01-05 19:03] #20 closed

[2018-01-06 10:34] #9 closed

[2018-03-09 10:44] maartenbreddels commented on #32
same issue (linux)

that fixed it for me as well (thanks btw 👍 )

[2018-04-25 19:56] stuarteberg opened #53 "curl incompatibility issue"
It turns out there is an ABI break (on OSX, at least) starting with curl `7.58`.

With `curl=7.55`, `libcurl.dylib` has `compatibility version 9.0.0`, but with `curl=7.58`, it has `compatibility version 10.0.0`.

<details>

Curl 7.55:

[code]

Curl 7.58:

...

[code]

</details>
<br>
When I try to run `cmake` in an environment with the older version of curl, I get this error:

[code]

-----

There

[2018-04-26 15:10] scopatz commented on #53
Hi @stuarteberg - thanks for reporting!  I have not been seeing this issue on linux, and so I think the selectors should be only for osx, not unix.

[2018-04-26 15:10] scopatz commented on #53
A pull request with a fix would be great!

[2018-04-26 15:13] stuarteberg commented on #53
Any thoughts on how the conda-forge pinnings are supposed to play into this?  According to the pinnings, curl is supposed to be fixed at `7.44`.  I don't understand the pinning mechanism well enough to know if that matters.

[2018-04-26 15:16] msarahan commented on #53
conda-forge-pinnings does not take effect when you are manually defining your pins, as you seem to be in this PR.  Might want to look at the chain in https://github.com/conda-forge/mpb-feedstock/pull/2#discussion_r184384413

[2018-04-26 15:17] scopatz commented on #53
Well the pinnings state that curl needs to be *at least* v7.44, but less than v8 (which isn't out yet, I don't think).  So it is looser than being fixed at v7.44

[2018-04-26 15:18] isuruf commented on #53
No the pinnings package say it should be `7.44.*` which should be fixed.

[2018-04-26 15:25] scopatz commented on #53
I am seeing >=7.44.0,<8 in the recipe

[2018-04-26 15:33] jakirkham commented on #53
That's taken from [the old pinnings]( https://github.com/conda-forge/conda-forge.github.io/blob/4c8b3b28ad45e6d46e268acf73de8c0da30de1bc/scripts/pin_the_slow_way.py#L70 ), which is true. Though @isuruf's point is the [new/current pinnings]( https://github.com/conda-forge/conda-forge-pinning-feedstock/blob/3f3f3ae4933195e9c2dd6119b3a472e274028c40/recipe/conda_build_config.yaml#L212-L213 ) just spec

[2018-07-16 11:46] lebedov opened #59 "rebuild cmake 3.11.4 against ncurses 6.1?"
Issue: cmake 3.11.4 currently depends on ncurses 5.9; this complicates its installation alongside packages that have been upgraded to depend on ncurses 6.1. Would it be possible to rebuild it against the latter?

[2018-07-16 16:41] scopatz commented on #59
#57 will do this, but it is currently failing.  We could definitely use more eyes!

[2018-07-23 16:08] lebedov commented on #59
Resolved.

[2018-07-23 16:08] #59 closed

[2018-07-26 13:03] kuepe-sl opened #62 "ccmake missing in package for 3.12 build 0"
Issue:
In the current version of the cmake package (v3.12 build 0), the CMake Curses GUI (ccmake) is missing.
It was still present in v3.11.4 build 0.
<br/>
Environment (<code>conda list</code>):
<details>

[code]
</details>

<br/>
Details about  <code>conda</code> and system ( <code>conda info</code> ):
<details>

[code]
</details>

[2018-07-26 13:13] scopatz commented on #62
I can verify that ccmake is no longer present.  I am not sure why though, since ncurses is available still.

[2018-07-26 13:13] jschueller commented on #62
indeed: `Checking for curses support - Failed`, I guess curses must be rebuilt with new compilers

[2018-07-26 13:15] scopatz commented on #62
Yeah, oddly that is failing: https://github.com/conda-forge/ncurses-feedstock/pull/42

[2018-07-26 15:32] jschueller commented on #62
should be fixed by https://github.com/conda-forge/ncurses-feedstock/pull/43

[2018-07-27 12:38] jschueller commented on #62
using the new ncurses does not fix the problem

[2018-07-27 16:52] isuruf commented on #62
Probably an issue with https://github.com/Kitware/CMake/commit/99bf77f49c18f9947b2386c4f5b6308da793de9f

[2018-07-30 22:08] isuruf commented on #62
Fixed in https://github.com/conda-forge/cmake-feedstock/pull/64

[2018-07-30 22:08] #62 closed

[2018-09-08 10:26] marcelotrevisani commented on #53
May we close this issue?

[2018-09-08 17:03] stuarteberg commented on #53
Yes.  The latest version of the `cmake` package (`3.12.2`) lists the following constraints for `curl`, which resolve this issue:

`curl >=7.59.0,<8.0a0`

This was fixed via https://github.com/conda-forge/conda-forge-pinning-feedstock/pull/52.

[2018-09-08 17:03] #53 closed

[2018-09-24 09:23] wolfv opened #69 "libnsl not found"
Issue: running cmake gives error libnsl not found

Running ldd shows that libnsl isn't linked/not found?

I am seeing libnsl though:

[code]

ldd output:

[code]

I am going to try in an empty docker container to see if I can reproduce this issue.

[2018-09-24 09:34] wolfv commented on #69
running this in a ubuntu docker container, it seems to link against the systems libnsl:

[code]

[2018-09-24 09:50] marcelotrevisani commented on #69
humm.... that's a problem, I will try to investigate that

[2018-09-24 09:51] wolfv commented on #69
Thanks!

[2018-09-24 13:47] jakirkham commented on #69
Taken from [Linux from Scratch]( http://www.linuxfromscratch.org/blfs/view/systemd/basicnet/libnsl.html ).

[2018-09-24 13:51] jakirkham commented on #69
Could you please fill in the rest of the issue template, @wolfv? In particular would like to see the environment and more specifically the exact CMake package used. Just to confirm, this is Linux, right?

[2018-09-24 14:07] scopatz commented on #69
`libnsl` comes from 1gcc_impl_linux-641, which I believe is one of the compiler packages that was copied from defaults into the conda-forge channel

[2018-09-24 14:09] tadeu commented on #69
`libnsl` used to always be packaged together with `glibc`:

https://www.python.org/dev/peps/pep-0571/

On Debian-based systems it should be provided by the `libc6` package and on RPM-based systems it should be provided by the `glibc` package.

But it seems Fedora 28 broke this:

https://github.com/AppImage/AppImages/issues/336

[2018-09-24 14:33] jakirkham commented on #69
Thanks for the details.

Does installing `libnsl` with `dnf` fix this for you?

[2018-09-24 14:40] wolfv commented on #69
A version of libnsl is installed in the fedora system by default:

[code]

Installing libnsl indeed installs `libnsl.so.1` into `/usr/lib64/libnsl.so.1` and fixes the problem.

Is this the "correct" solution?

By the way, this is on a tangent, but I keep wondering if using something like `fakechroot` to build pacakges would help mitigate these link issues for binary packages by forcing the linker

[2018-09-24 14:40] jakirkham commented on #69
FWIW it looks like this choice by Fedora was [very much intentional]( https://fedoraproject.org/wiki/Fedora_28_talking_points#NIS_switching_to_new_libnsl_to_support_IPv6 ). More details [here]( https://fedoraproject.org/wiki/Changes/NISIPv6 ).

cc @mingwandroid

[2018-09-24 15:46] tadeu commented on #69
@wolfv, that one seems to be `libnsl2`, as a workaround try to also install `libnsl` with `sudo dnf install libnsl.so.1` or to make a link as described here:

https://github.com/oracle/node-oracledb/issues/892#issuecomment-387082011

[2018-09-24 15:56] tadeu commented on #69
Here is a diff between the recipe in Anaconda and the one in conda-forge (`+`s are for the one in conda-forge):

[code]

I guess that `--no-system-libuv` is the main difference.

[2018-09-24 16:09] marcelotrevisani commented on #69
as @tadeu pointed, we can try to see if with the option ``no-system-libuv`` will be different

[2018-09-24 16:11] jakirkham commented on #69
Hmm...does `libuv` have this issue as well? Seems like a plausible route of inquiry. If so, it would be better to fix this issue at the source of the problem.

[2018-09-24 16:31] marcelotrevisani commented on #69
That's true, executing ``ldd -r`` in ``libuv`` we see
![image](https://user-images.githubusercontent.com/7882269/45965144-f7e46c80-c027-11e8-9e93-cdcd93c582a7.png)

[2018-09-24 16:31] marcelotrevisani commented on #69
which is linking with the library in my system

[2018-09-24 16:47] jakirkham commented on #69
Also seeing a similar thing on CentOS 6. Looking through CMake's other dependencies am not seeing any of them link to `libnsl` other than `libuv`. So that's likely the culprit.

[2018-09-24 20:10] mingwandroid commented on #69
Isn't this just a system library you need to be installing?

[2018-09-24 20:52] jakirkham commented on #69
To summarize the findings from earlier, basically all Linuxes included `libnsl` previously. Both us, wheel folks, and many other developers have implicitly assumed `libnsl` would come preincluded. Though Fedora 28 switched to `libnsl2` and dropped including `libnsl` by default. This breaks our previous assumption. Thus breaking `libuv` and anything that depends on it (`cmake` in our case).

Curren

[2018-09-25 07:08] marcelotrevisani commented on #69
We may package ``libnsl`` and it will avoid this problem.

But I think for now (as @tadeu said) we may disable ``libuv`` in ``cmake``.

[2018-09-25 11:14] mingwandroid commented on #69
Removing that might remove server mode which is *highly* useful.

[2018-09-25 11:15] mingwandroid commented on #69
Better off advising people to install this lib on their distro and Dockerfiles IMHO.

[2018-10-07 22:34] marcelotrevisani commented on #69
Should we close this?

[2018-10-18 17:29] jakirkham opened #74 "@conda-forge-admin, please update circle"
@conda-forge-admin, please update circle.

Note: Appears the bot stopped following this repo. So the rebuild with new compilers never cleared on Linux. This should fix that.

[2018-10-18 17:29] #74 closed

[2018-10-18 17:29] conda-forge-linter commented on #74
Hi! This is the friendly automated conda-forge-webservice.

I just wanted to let you know that I updated the circle-ci deploy key and followed the project.

[2018-10-18 17:32] jakirkham commented on #74
Now queued to build. 😄

ref: https://circleci.com/workflow-run/89bdf2d6-5529-4f26-a0c0-c3e9aa049154

[2019-08-07 13:00] looooo opened #91 "cmake 3.15: issue with find_package(python ...)"
There is a problem with `find_package(python ...)`. For python3.6 host-environment the more recent python3.7 of the base-environment is found. issue encountered with py36 osx/linux

ref.: https://github.com/conda-forge/staged-recipes/pull/8474

[2019-08-07 13:03] isuruf commented on #91
Please be more specific with the details when opening an issue

[2019-08-07 13:16] looooo commented on #91
Sorry I do not have much more information. Maybe the output of the linked project helps to understand the issue:

command:
https://github.com/aewallin/opencamlib/blob/master/src/pythonlib/pythonlib.cmake#L64
`find_package(Python3 COMPONENTS Interpreter Development)`

output for py36:
[code]

which is obviously wrong for a conda-recipe.

[2019-08-08 09:14] marcelotrevisani commented on #91
From my point of view, this problem is related to ``cmake`` rather the recipe itself.
I think when you invoke cmake you should specify the ``lib`` folders of your environment, I have found some problems with ``cmake`` and virtual envs. That might be another one.

[2019-08-08 11:13] h-vetinari opened #92 "Windows install fails"
Issue:

`conda install cmake` fails with:

[code]

<br/>
Environment (<code>conda list</code>):
<details>

[code]
</details>

<br/>
Details about  <code>conda</code> and system ( <code>conda info</code> ):
<details>

[code]
</details>

[2019-08-08 12:59] h-vetinari commented on #92
Install still works with "conda install cmake<3.15.1"; pulls in "3.14.0".

[2019-08-08 19:09] tadeu commented on #91
This is possibly related to a change on `FindPython` for CMake 3.15, check the `Python_FIND_STRATEGY`:

https://cmake.org/cmake/help/v3.15/module/FindPython.html#hints

and this policy:

https://cmake.org/cmake/help/v3.15/policy/CMP0094.html#policy:CMP0094

When using CMake with `conda`, either this policy should be set with `Old` or `Python_FIND_STRATEGY` should be set to `LOCATION` explicitly, o

[2019-08-08 19:27] tadeu commented on #91
@looooo, could you please try your recipe with CMake 3.15 and passing `-D Python3_FIND_STRATEGY=LOCATION`?

[2019-08-08 19:53] looooo commented on #91
@tadeu thanks for the information.
https://github.com/conda-forge/opencamlib-feedstock/pull/1

[2019-08-08 20:30] tadeu commented on #91
Relevant issue in CMake bug tracking system: https://gitlab.kitware.com/cmake/cmake/issues/19159

[2019-08-09 08:26] looooo commented on #91
Setting `Python3_FIND_STRATEGY=LOCATION` did the trick. So I guess this issue can be closed.

[2019-08-09 08:26] #91 closed

[2019-08-15 00:18] h-vetinari commented on #92
This is still not working and (among other things) makes it impossible to keep my conda-build environment up to date (to run conda-smithy, for example) on windows. @conda-forge/cmake

[2019-08-15 00:22] isuruf commented on #92
Can you share the directory listing of `C:\ProgramData\Miniconda3\envs\builder\pkgs\cmake-3.15.1-he025d50_0\Library\share\cmake-3.15\completions` ?

[2019-08-15 00:42] h-vetinari commented on #92
@isuruf
Thanks for the quick response. Here's the listing you asked for:
[code]

[2019-08-15 00:48] isuruf commented on #92
There are 2 scenarios,
1. You deleted `C:\ProgramData\Miniconda3\envs\builder\pkgs\cmake-3.15.1-he025d50_0\Library\share\cmake-3.15\completions\cmake`
2. conda was killed in the middle of unpacking

In any case, the issue is not related to this feedstock.

Solution is to delete the directory `C:\ProgramData\Miniconda3\envs\builder\pkgs\cmake-3.15.1-he025d50_0`

[2019-08-15 00:48] #92 closed

[2019-08-15 00:52] h-vetinari commented on #92
@isuruf
Thanks, deleting the folder solved it! :)

[2019-12-05 00:30] SylvainCorlay opened #99 "dyld: lazy symbol binding failed: Symbol not found: _clock_gettime"
I am getting this weird error at runtime with the cmake package on OS X.

[code]

[2019-12-05 08:19] #99 closed

[2019-12-05 16:07] henryiii opened #101 "C++ std on macOS"
The build currently hardcodes C++17:

Which is why it fails with the 10.9+ SDK on macOS, and requires 10.14.

I think we should use the default 10.9+ SDK, and allow it to select a lower C++ standard on macOS. The default C++ setting should be smart enough on CMake if we want to use that, or we should use 14 on macOS.

@isruf, thoughts?

[2019-12-05 16:08] isuruf commented on #101
Sure. We use C++14 on macOS for other packages.

[2019-12-05 16:11] henryiii commented on #101
See https://gitlab.kitware.com/cmake/cmake/issues/20054#note_663424

Is anything needed on top of #100? Is there a workaround somewhere in there that pulls in a newer libc++, etc?

[2019-12-05 16:12] isuruf commented on #101
Yes, we can remove https://github.com/conda-forge/cmake-feedstock/blob/master/recipe/build.sh#L4-L17 and use C++14 standard.

[2019-12-05 16:14] henryiii commented on #101
The recommendation from the CMake developers is to let CMake select the maximum version C++ version automatically, will make a PR for that.

[2019-12-05 18:40] #101 closed

[2020-01-11 07:28] Midnighter opened #106 "`include_directories` is ignored in conda environment"
### Issue:

I'm trying to build a [Python package](https://gitlab.com/davidtourigny/dynamic-fba) that uses cmake, pybind11, GLPK, and SUNDIALS. Within the linked repository you can see that I can build a ubuntu based Docker image just fine. However, when I try to do the same within a conda environment compilation fails because the include directories are not added correctly to the compilation comm

[2020-02-14 03:38] scopatz opened #111 "@conda-forge-admin, please add bot automerge"
@conda-forge-admin, please add bot automerge

[2020-02-14 03:38] conda-forge-linter commented on #111
Hi! This is the friendly automated conda-forge-webservice.

I just wanted to let you know that I added bot automerge in conda-forge/cmake-feedstock#112.

[2020-02-14 07:56] #111 closed

[2020-02-16 08:53] looooo opened #113 "cmake"
Issue found in linux [freecad-feedstock](https://dev.azure.com/sppedflyer/feedstock-builds/_build/results?buildId=108&view=logs&jobId=d0d954b5-f111-5dc4-4d76-03b6c9d0cf7e&j=d0d954b5-f111-5dc4-4d76-03b6c9d0cf7e&t=6d4b912b-175d-51da-0fd9-4d30fe1eb4e7)

[code]

I guess it's related to the recent update to cmake `3.16.4`.

[2020-02-16 10:28] looooo commented on #113
Wrong assumption, seems to be not related to the cmake update.

[2020-02-16 10:28] #113 closed

[2020-03-26 21:46] jakirkham opened #116 "@conda-forge-admin, please re-render"
@conda-forge-admin, please re-render.

Trying to fix [this comment]( https://github.com/conda-forge/cmake-feedstock/pull/115#issuecomment-604700045 ) based on the advice in issue ( https://github.com/conda-forge/pkginfo-feedstock/issues/14 ).

[2020-03-26 21:46] conda-forge-linter commented on #116
Hi! This is the friendly automated conda-forge-webservice.

I just wanted to let you know that I rerendered the recipe in conda-forge/cmake-feedstock#117.

[2020-03-26 23:26] #116 closed

[2020-05-09 02:17] PaoloRibeca commented on #69
No, you should not I think. You should package libnsl1 instead. I am working on a RHEL cluster that has libnsl2 installed, with no libnsl1, and several conda packages (blast for instance) are broken as a result, as they depend on libnsl1. I could fix that if I were root, but I am not

[2020-06-19 14:25] leej3 commented on #106
I encountered this issue too. I think it is the cmake binary itself that is causing the problem. I can compile/install as I expect for a range of versions of cmake but for a conda distributed cmake binaries I can trigger this failure for header include directories. This error occurs inside and outside of the conda build environment. More specifically I observe this for cmake version 3.14.0 on the

[2020-08-21 09:23] gabm opened #123 "build in master is broken"
Issue: The build of the current master is broken after merging #121, which built successfully. A test seems to fail, which didn't in the PR... maybe a retry could solve the problem?

[code]

taken from: https://travis-ci.com/github/conda-forge/cmake-feedstock/builds/179982459

<br/>
Environment (<code>conda list</code>):
<details>

[code]
</details>

<br/>
Details about  <code>conda</code> and sys

[2020-08-28 11:11] gabm commented on #123
apparently it workes now

[2020-08-28 11:11] #123 closed

[2020-11-28 12:34] traversaro opened #129 "On Linux the CMAKE_CXX_IMPLICIT_LINK_DIRECTORIES detected by CMake is different from the default search path of linker"
In CMake the variable `CMAKE_CXX_IMPLICIT_LINK_DIRECTORIES` contains the link directories that the linker already considers by default, and you can easily check its value by a the example provided in  https://gist.github.com/traversaro/1d6e3bb4e737ba80ef6ad255e3734a32 :
[code]

The `CMAKE_CXX_IMPLICIT_LINK_DIRECTORIES` is used by CMake for automatically ignoring this directories if a build system

[2020-11-28 14:00] traversaro commented on #129
The problem emerged in https://github.com/conda-forge/gazebo-feedstock/pull/37#issuecomment-735208750, where the CMake calls to `link_directories("/home/traversaro/miniconda3/envs/<env_name>/lib")` where ignored because `"/home/traversaro/miniconda3/envs/<env_name>/lib"` was in `CMAKE_CXX_IMPLICIT_LINK_DIRECTORIES`, even if the linker was not actually searching in that directory. Fortunately most

[2020-11-28 14:13] traversaro commented on #106
I think that this issue is similar to https://github.com/conda-forge/cmake-feedstock/issues/129, but related to implicit include directories. If I print [`CMAKE_CXX_IMPLICIT_INCLUDE_DIRECTORIES`](https://cmake.org/cmake/help/latest/variable/CMAKE_LANG_IMPLICIT_INCLUDE_DIRECTORIES.html) in the same system described in that issue, I get:
[code]

But if I try to check the actual default include direc

[2020-11-29 09:39] traversaro commented on #129
I am not sure, but if anyone is interesting in investigating this probably a good file were to start is : https://github.com/Kitware/CMake/blob/v3.19.1/Modules/CMakeParseImplicitLinkInfo.cmake .

[2020-11-29 20:54] traversaro commented on #129
Actually, even if a project uses `link_directories`, the `LDFLAGS` environment variable should pass all the necessary linker options to CMake to overcome this problem. I noticed this problem only because I was working with a project that was overwriting the value of the `CMAKE_<TYPE>_LINKER_FLAGS` (see https://github.com/conda-forge/gazebo-feedstock/pull/38#issuecomment-735434713).

[2021-02-07 12:00] Soumi7 commented on #14
I am trying to host my app with heroku, I get this error :
[code]

I tried adding a buildpack, adding apt file with ```tesseract-ocr``` and ```tesseract-ocr-eng```. I added the config variable path as well. The error persists.

[2021-10-16 14:56] #69 closed

[2022-02-23 02:59] jakirkham commented on #129
Is this still an issue?

[2022-02-23 03:00] jakirkham commented on #106
Is this still an issue?

[2022-03-09 08:55] traversaro commented on #12
I am interested to provide cmake-gui as a different output of the package, there is any opinion on this before I start working on a PR?

[2022-03-31 20:00] ntorresalberto commented on #106
Yes, I think I've just ran into the same problem in a personal project and googling a bit (I didn't test the example though).

[2022-03-31 20:05] jakirkham commented on #106
@ntorresalberto do you have a minimal reproducer that you can share? 🙂

[2022-05-31 12:54] willian-m commented on #106
I found a similar behavior with cmake 3.20 in a conda environment. On my makefile I had
[code]
even after a `conda install boost`. After I downgraded to v3.12, my project compiled normally.

[2022-07-28 20:18] jakirkham opened #162 "@conda-forge-admin, please re-render"
@conda-forge-admin, please re-render

[2022-07-28 20:18] conda-forge-linter commented on #162
Hi! This is the friendly automated conda-forge-webservice.

I just wanted to let you know that I rerendered the recipe in conda-forge/cmake-feedstock#163.

[2022-07-28 20:35] #162 closed

[2022-09-05 16:47] lionjo commented on #106
I had the same error as @willian-m using cmake 2.24 in a conda environment: Boost wasn't found despite doing
[code]
A simple
[code]
solved it for me. Apparantly cmake checks if the include directory exists in `$CXX_FLAGS` and if yes, does not include it.

[2022-09-05 21:03] isuruf commented on #106
Going to close this issue. Please open a new one with the required information and a minimal reproducer.

[2022-09-06 07:05] Midnighter commented on #106
You have a reproducible example in my original post, no?

[2022-09-06 07:09] isuruf commented on #106
@Midnighter, would you be able to give a minimal reproducer instead of the complex reproducer you have here?

[2022-09-06 07:13] Midnighter commented on #106
I'll try. Plenty of other things on my plate now so it will take me a bit.